<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AdminDao">
	<!--公共的查询语句-->
	<sql id="sel">
		SELECT id,name,password,salt,type FROM t_admin
	</sql>
	<!--姓名查询-->
	<select id="selectByName" parameterType="String" resultType="Admin">
		<include refid="sel"/> where name=#{name}
	</select>
	<!--添加管理员-->
	<select id="insert" parameterType="Admin" >
		INSERT  INTO  t_admin VALUES (#{id},#{name},#{password},#{salt},#{type})
	</select>
	<!--删除管理员-->
	<delete id="delete" parameterType="String" >
		DELETE  FROM t_admin WHERE id=#{id}
	</delete>
	<!--修改基本信息-->
	<update id="update" parameterType="Admin" >
		UPDATE t_admin SET name=#{name},password=#{password},salt=#{salt} where id=#{id}
	</update>
	<!--查询详细-->
	<select id="selectById" parameterType="String" resultType="Admin">
		<include refid="sel"/>  where id=#{id}
	</select>
	<!--查询所有-->
	<select id="selectAll" resultType="Admin">
		<include refid="sel"/>
	</select>
</mapper>
